DATABASE_URL='DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/blazediagnosis'
'
APP_URL='http://localhost:3000'
AUTH_SECRET='replace-me'
UPLOAD_STORAGE_DRIVER='local'



#DATABASE_URL='postgres://postgres:postgres@localhost:5432/blaze_pos'